.navbar-nav{
    font-size: 17px;
    font-weight: 500;
}



* {
    margin: 0;
    padding: 0;
}


.CourseCode {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-bottom: 0.5em;
}

.subjectName {
    font-size: 20px;
    color: #000;
    margin-bottom: 0.5em;
}

.DoctorName {
    font-size: 12px;
    color: #000;
    margin-bottom: 0.5em;
    font-weight: 500;
}

.card {
    cursor: pointer;
}


.SeconderyHeader {
    background-color: #D2EFFB;
    height: 160px;
    margin: 0;
    padding: 0;
    border-top: 1px solid #9d9d9d;
}

.HeaderCollor {
    padding: 0;
    margin: 0;
}

.courses-section-title {
    margin: 0 0 20px 0;
}

.form-control-search {
    border-radius: 20px;
}

.searchButton {
    border-radius: 20px;
    padding-left: -39px;
}



.thirdHeader {
    background-color: #6172e1;
    height: 40px;
    margin-bottom: 13px;
}

.pageicon img {
    width: 120px;
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

.pageicon {
    text-align: center;


}

.Row2 {
    background-color: #ff345f;
}

.pageName h1 {
    color: #FFF;
    font-weight: 700;
    margin-top: 20px;
    /* margin-bottom: 20px; */
}

.pageName h6 {
    color: #FFF;
    /* margin-bottom: 20px; */
}

.pageName2 {
    display: none;
}

@media (max-width: 732px) {
    .pageName {
        display: none;
        height: 200px;
    }

    .SeconderyHeader {

        height: 280px;
    }

    .pageName2 {
        display: block;
        padding-left: 40px;
    }

}


/* NavBar design */

nav .container-fluid .collapse .navbar-nav .nav-item .nav-link {
    color: #262626;;
    font-weight: 400;
    font-size: 15px;
}

nav .container-fluid .collapse a span {
    color: #626262;
}

.SeconderyHeader{
    /* From https://css.glass */
background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #0183FB,#0664D5, #0B4AB4);
}

#page-h5-text-fullPage{
    color: #eaeaea;
}